/* Base settings */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 255, 255);
    font-family: 'Comic Sans MS';
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
}

header{
    width: 1200px;
    margin: 0 auto;
}

/* header's styles*/
.as {
    margin: 0 auto;
}

.menu{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    height: 100px;

    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 100%;
    color: #242424;
}

.contacts {
    display: flex;
    gap: 10px;
    align-items: center;
}

.header-line {
    border: none;
    height: 1px;
    background-color: #F6A6BF;
    width: 100%;
}

.logo{
    width: 160px;
    height: auto; 

}

.links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 120px;
    gap: 20px;
    padding: 20px;
}

.header_link, .footer-link {
    text-decoration: none;
    font-style: normal;
    color: #242424;

    font-weight: 600;
    font-size: 13px;
    line-height: 100%;
}

.ppink{
    color:#F6A6BF;
}

/* MAIN STYLE */



h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 140%;
    color: #242424;


}

.zayavka{
    margin-top: 30px;
}

.zayavka h2{
    margin-left: 50px;
    margin-bottom: 50px;
    margin-top: 15px;
}

.oformlenie{
    display: flex;
    justify-content: space-between;
}

form {
    background-color: #FFFEF1;
    padding: 50px;
}

.text-inputs{
    display: flex;
    gap: 30px;
    
}

.input-bottom-border{
    border: none; /* Убираем стандартную рамку */
    border-bottom: 1px solid #242424; /* Добавляем нижнюю рамку */
    height: 36px;
    width: 190px;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 2px;
    color: #848484;
    background-color: #FFFEF1;
}

#prim {
    width: 410px;
    margin-bottom: 70px;
    margin-top: 70px;
}

.input-bottom-border:focus {
    outline: none; /* Убираем стандартный outline */
    border-bottom-color: #242424; /* Меняем цвет нижней рамки при фокусе */
}

.button-main {
    border: none;
    cursor: pointer;
    width: 330px;
    height: 60px;
    color: #fff;
    background-color: #F6A6BF;
    border-radius: 100px;

    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
}

.button-main:hover {
    background-color: #fff;
    color: #F6A6BF;
    border: 1px #F6A6BF solid;
}

/* RAZMESHENIE */



hr {
    border: none;
    height: 1px;
    background-color: #F6A6BF;
    width: 100%;
}

ul{
    list-style-image: url('../content/tochka.png');
    width: 360px;
    margin-right: 250px;
}

li{
    padding-top: 20px;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #242424;
}

#HHusl{
    margin-top: 150px;
    margin-bottom: 50px;
}

.rec p{
    padding-top: 20px;
   
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    width: 450px;
    color: #848484;


}

.razm, .razm1, .razm2{
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: space-between;
}

.vajno{
    margin-top: 30px;
}

.vajno ul{
    margin-top: 20px;
    margin-left: 20px;
}

.vajno ul li {
    width: 441px;
}

.ul3 {
    width: 610px;
}

/* FOOTER STYLE */

.linksFOOT{
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    color: #242424;


    margin:100px;
    margin-bottom: 50px;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.container-footer {
    display: flex;
    gap: 40px;
}