/* Base settings */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 255, 255);
    font-family: 'Comic Sans MS';
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
}

header{
    width: 1200px;
    margin: 0 auto;
}

/* header's styles*/
.as {
    margin: 0 auto;
}

.menu{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    height: 100px;

    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 100%;
    color: #242424;
}

.contacts {
    display: flex;
    gap: 10px;
    align-items: center;
}

.header-line {
    border: none;
    height: 1px;
    background-color: #F6A6BF;
    width: 100%;
}

.logo{
    width: 160px;
    height: auto; 

}

.links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 120px;
    gap: 20px;
    padding: 20px;
}

.header_link, .footer-link {
    text-decoration: none;
    font-style: normal;
    color: #242424;

    font-weight: 600;
    font-size: 13px;
    line-height: 100%;
}

.ppink{
    color:#F6A6BF;
}

/* MAIN STYLE */

.zayavka{
    margin-top: 30px;
}

.zayavka h2{
    margin-left: 100px;
}

.oformlenie img{
    width: 200px;
    height: 176px;
    margin-top: 30px;
    margin-left: 100px;
    background-color: antiquewhite;
    border-radius: 20%;
}

.oformlenie{
    display: flex;
    gap: 400px;
    margin-top: 40px;
}

form{
    display: flex;
    gap: 30px;
}

.input-bottom-border{
    border: none; /* Убираем стандартную рамку */
    border-bottom: 1px solid #242424; /* Добавляем нижнюю рамку */
    height: 36px;
    margin-bottom: 30px;
    color: #848484;
}

.input-bottom-border:focus {
    outline: none; /* Убираем стандартный outline */
    border-bottom-color: #242424; /* Меняем цвет нижней рамки при фокусе */
}

.button-main {
    border: none;
    cursor: pointer;
    width: 180px;
    height: 60px;
    color: #fff;
    background-color: #F6A6BF;
    border-radius: 100px;
}

/* RAZMESHENIE */

hr {
    border: none;
    height: 1px;
    background-color: #F6A6BF;
    width: 100%;
}

ul{
    list-style-image: url('../content/tochka.png')
}

li{
    padding-top: 20px;
}

#HHusl{
    margin-top: 150px;
    margin-bottom: 50px;
}

.rec p{
    padding-top: 20px;
    font-size: 14px;
    color:#0f0f0f;
}

.razm, .razm1, .razm2{
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    gap: 266px;

}

.razm{
    gap:470px;
}

.razm2{
    gap: 700px;
}

.vajno{
    margin-top: 30px
}

.vajno ul{
    margin-top: 20px;
    margin-left: 20px;
}
/* FOOTER STYLE */

.linksFOOT{
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    color: #242424;


    margin:100px;
    margin-bottom: 50px;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.container-footer {
    display: flex;
    gap: 40px;
}