/* Base settings */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 255, 255);
    font-family: 'Comic Sans MS';
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
}

header{
    width: 1200px;
    margin: 0 auto;
}

/* header's styles*/
.as {
    margin: 0 auto;
}

.menu{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    height: 100px;

    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 100%;
    color: #242424;
}

.contacts {
    display: flex;
    gap: 10px;
    align-items: center;
}

.header-line {
    border: none;
    height: 1px;
    background-color: #F6A6BF;
    width: 100%;
}

.logo{
    width: 160px;
    height: auto; 

}

.links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 120px;
    gap: 20px;
    padding: 20px;
}

.header_link, .footer-link {
    text-decoration: none;
    font-style: normal;
    color: #242424;

    font-weight: 600;
    font-size: 13px;
    line-height: 100%;
}

.ppink{
    color:#F6A6BF;
}

/* MAIN STYLE */

.vajno{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    background-color: #FFFEF1;
    align-items: center;
}

.text-vajno{
    max-width: 472px;
    margin-right: 78px;
}

.text-vajno p{
    margin-top: 20px;
}

/* O NAS */

h4 {

    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: #242424;
    width: 400px;
}

.h2-t1 {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    color: #242424;
}

.o-nas{
    margin-bottom: 50px;
}

.o-nas1{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.text-o-nas1{
    width: 478px;

    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #242424;

}

.o-nas2{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.text-o-nas2{
    width: 478px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #242424;


}

/* PREDLAGAEM */

.predlagaem{
    display: flex;
    gap: 86px;
    margin-bottom: 150px;
}

.ulcat1, .ulcat2{
    padding-top: 30px;
}

ul li::before{
    position: absolute;
    content: '';
    width: 50px;
    height: 50px;
    background-image: url('../content/sitcat.png');
    left: -50px;
}

ul li {
    display: flex;
    align-items: center;
    position: relative;
    height: 53px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #242424;
    list-style: none;
    left: 50px;

}

div.DopOptions{
    position: absolute;
    bottom: -90px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #848484;


}

/* FOOTER STYLE*/

.linksFOOT{
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    color: #242424;


    margin:100px;
    margin-bottom: 50px;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.container-footer {
    display: flex;
    gap: 40px;
}