/* Base settings */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 255, 255);
    font-family: 'Comic Sans MS';
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
}

header{
    width: 1200px;
    margin: 0 auto;
}

/* header's styles*/
.as {
    margin: 0 auto;
}

.menu{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    height: 100px;

    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 100%;
    color: #242424;
}

.contacts {
    display: flex;
    gap: 10px;
    align-items: center;
}

.header-line {
    border: none;
    height: 1px;
    background-color: #F6A6BF;
    width: 100%;
}

.logo{
    width: 160px;
    height: auto; 

}

.links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 120px;
    gap: 20px;
    padding: 20px;
}

.header_link, .footer-link {
    text-decoration: none;
    font-style: normal;
    color: #242424;

    font-weight: 600;
    font-size: 13px;
    line-height: 100%;
}

.ppink{
    color:#F6A6BF;
}

/* First checking style*/
.content-all{
    display: flex;
    justify-content: center;
    align-items: left;
    padding: 50px;
    max-width: fit-content;
    flex-direction: column;
    
}

.input-bottom-border{
    border: none; /* Убираем стандартную рамку */
    border-bottom: 1px solid #242424; /* Добавляем нижнюю рамку */
    height: 36px;
    margin-bottom: 30px;
    color: #848484;
}

.input-bottom-border:focus {
    outline: none; /* Убираем стандартный outline */
    border-bottom-color: #242424; /* Меняем цвет нижней рамки при фокусе */
}

.info-container {
    display: flex;
    justify-content: center;
}

.info{
    display: flex;
    padding-top: 100px;
    gap: 75px;
    font-size: 16px;
}

.cats-img img {
    position: absolute;
    right: 0px;
    top: 284px;
    overflow: hide;
    z-index: -2;
}

.main-p {
    margin-bottom: 40px;
    margin-top: 30px;
}

.button-main {
    border: none;
    cursor: pointer;
    width: 260px;
    height: 60px;
    color: #fff;
    background-color: #F6A6BF;
    border-radius: 100px;
}

.hearrds {
    display: flex;
    gap: 20px;
}
/* Nomers and cens style */

.nomer-title {
    margin-top: 133px;
    margin-bottom: 110px;
}

.nomers-container {
    display: flex;
    gap: 30px;
}

.nomers-cens{
    display: inline-block;
    justify-content: space-between;
    align-items: left;
    width: auto;
}

.text-nomers, .nomer-standart-plus, .nomer-lux{
    display: flex;
    flex-direction: column;
    min-height: 230px;
    width: 380px;
    background-color: #fff4f4;
}

.text-nomers table {
    min-height: 210px;
}

#Hnomers{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: #F6A6BF;
}

table{
    width: 380px;
}

tr{
    padding-top: 10px;
}

td { 
    padding: 10px; 
    padding-right: 20px; 
}

#b2 {
    height: 30px;
    width: 200px;
}

#b3{
    height: 30px;
    width: 200px;
    background-color: #fff;
    border: 1px #F6A6BF solid;
    color: #F6A6BF;
}

.razm {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #848484;
}

.razm_m {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #242424;
}

.butt-z {
    padding: 10px;
}


/* PHOGALARY STYLES*/

.gallery-title {
    margin-top: 100px;
    margin-bottom: 50px;
}

.container-img-gallery{
    display:flex;
}

#b4{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    font-size: 20px;
    margin-top: 150px;
    margin-left: 10px;
}

#b5{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border: 1px #F6A6BF solid;
    font-size: 20px;
    background-color: #fff;
    color: #F6A6BF;
}

.container-button{
    margin-left: 20px;
}

/* FOOTER STYLE */

.linksFOOT{
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    color: #242424;


    margin:100px;
    margin-bottom: 50px;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.container-footer {
    display: flex;
    gap: 40px;
}