*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 255, 255);
    font-family: 'Comic Sans MS';
}

header{
    width: 1200px;
    height: 120px;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
    padding-bottom: 3%;
    width: 1200px;
    height: 100px;
    font-size: 12px;
}

.header-line {
    border: none;
    height: 1px;
    background-color: #F6A6BF;
    margin-left: 100px;
    margin-top: 0;
    width: 1000px;
}

.logo{
    width: 160px;
    height: auto; 

}
.ppink{
    color:#F6A6BF;
}

.links{
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-left: 350px;
    margin-right: 300px;
}

.content-all{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
}

.cats-img{
    
}

.input-bottom-border{
    border: none; /* Убираем стандартную рамку */
    border-bottom: 2px solid #333; /* Добавляем нижнюю рамку */
    height: 30px;
}

.input-bottom-border:focus {
    outline: none; /* Убираем стандартный outline */
    border-bottom-color: #555; /* Меняем цвет нижней рамки при фокусе */
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
    padding-bottom: 3%;
    width: 1200px;
    height: 100px;
    font-size: 16px;
}