/* Base settings */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 255, 255);
    font-family: 'Comic Sans MS';
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
}

header{
    width: 1200px;
    margin: 0 auto;
}

/* header's styles*/
.as {
    margin: 0 auto;
}

.menu{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    height: 100px;

    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 100%;
    color: #242424;
}

.contacts {
    display: flex;
    gap: 10px;
    align-items: center;
}

.header-line {
    border: none;
    height: 1px;
    background-color: #F6A6BF;
    width: 100%;
}

.logo{
    width: 160px;
    height: auto; 

}

.links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 120px;
    gap: 20px;
    padding: 20px;
}

.header_link, .footer-link {
    text-decoration: none;
    font-style: normal;
    color: #242424;

    font-weight: 600;
    font-size: 13px;
    line-height: 100%;
}

.ppink{
    color:#F6A6BF;
}

/* MAIN STYLE */


.zagalovok{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.Look{
    padding: 10px;
    width: 439px;
}

.rooms{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 36px;
}

.room-desc {
    grid-column-start: 1;
    grid-column-end: 4;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #242424;
}

.rooms img{
    width: 80px;
    height: 80px;
}

.room{
    position: relative;
    border:none;
    border-radius: 100%;
    width: 100px;
    height: 90px;
    color:#661818;
    font-size: 30px;
    cursor: pointer;
}

.room::after {
    content: '';
    position: absolute;
    width: 70px;
    height: 57px;
    background-image: url('../content/button.png');
}

.room:hover.room::after {
    background-image: url('../content/buttonCLICK.png');
    background-size: cover;
}

/* FOOTER STYLE */

.linksFOOT{
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    color: #242424;


    margin:100px;
    margin-bottom: 50px;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.container-footer {
    display: flex;
    gap: 40px;
}